.status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(217, 30, 30);
}

.status.is-online {
  background-color: rgb(44, 203, 27);
}

.avatar {
  padding: 5px;
  border-radius: 5px;
  background-color: #2e2f42;
}
.name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.2px;
}
