.friend-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}
.item {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 40%;
  padding: 15px;
  border-radius: 6px;
  background-color: #e9e9e9;
  box-shadow: inset 0px 0px 10px 2px rgb(191, 30, 30),
    0px 0px 10px 2px rgb(207, 207, 207);
  opacity: 0.7;
}

.item.is-online {
  border-radius: 6px;
  background-color: #fff;
  box-shadow: inset 0px 0px 10px 2px rgb(41, 194, 58),
    0px 0px 10px 2px rgb(207, 207, 207);
  opacity: 1;
}
